{% extends "base.html" %}

{% block content %}

<h1>HANGMAN, HANGMAN !</h1>
<p></p>
<h2>{{ welcome_message }} </h2>

{% if statistics %}
<p></p>
<h3>Today's games: </h3>
<table>
    <tr style="background-color: rgba(2, 2, 0, 0.212);">
        <th>Game</th>
        <th>Status</th>
        <th>Attempts made</th>
        <th>Wrong attempts made</th>
        <th>Secret word</th>
        <th>Date and time</th>
    </tr>
    {% for i in statistics %}
    <tr>
        <td style="font-weight: bold;">
        </td>
        <td {% if i["game_status"]=="WIN" %} style="background-color: rgba(0, 189, 0, 0.527);" {% elif
            i["game_status"]=="LOSS" %} style="background-color: rgba(255, 0, 0, 0.473);" {% endif %}>{{
            i["game_status"] }}</td>
        <td>{{ i["attempts_made"] }}</td>
        <td>{{ i["wrong_attempts_made"] }}</td>
        <td>{{ i["secret_word"] }}</td>
        <td>{{ (i["created_at"]).strftime("%Y-%m-%d %H:%M:%S") }}</td>
    </tr>
    {% endfor %}
</table>

{% endif %}
<style>
    table {
        counter-reset: rowNumber;
    }

    table tr>td:first-child {
        counter-increment: rowNumber;
    }

    table tr td:first-child::before {
        content: counter(rowNumber);
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    td {
        text-align: center;
        vertical-align: middle;
    }
</style>


{% endblock %}