{% extends "base.html" %}

{% block content %}

<h1>Hangman Game</h1>
<p>{{ user_word }}</p>
<p>Attempts left: {{ attempts_left }}</p>
<p>Wrong attempts left: {{ wrong_attempts_left }}</p>
{% if result %}
<h3>{{ result }}</h3>
<p><a href="/play">Play Again</a></p>
{% else %}
<form id="hangmanForm" action="/play" method="post">
    <label for="letter">Enter a letter:</label>
    <input type="text" id="letter" name="letter" maxlength="1" required>
    <button type="submit" id="submitButton">Submit</button>
</form>
{% endif %}
<p></p>
<div>
    {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
    {% if letter in used_letters %}
    <button class="used letterButton">{{ letter }}</button>
    {% else %}
    <button class="unused letterButton">{{ letter }}</button>
    {% endif %}
    {% endfor %}
</div>


<img src="{{ hangman_pic }}">



<style>
    .used {
        background-color: red;
        color: white;
    }
</style>

<script>
    // sita pats susigooglinau
    document.getElementById("letter").focus();
    document.getElementById("letter").select();


    // o su situo padejo chatGPT nes tiek man jau per daug :) 
    var letterButtons = document.getElementsByClassName("letterButton");
    for (var i = 0; i < letterButtons.length; i++) {
        letterButtons[i].addEventListener("click", function () {
            var letter = this.textContent;
            document.getElementById("letter").value = letter;
            document.getElementById("submitButton").click();
        });
    }
</script>

{% endblock %}